html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Lato' sans-serif;
  font-family: 'Laro' serif;
}

*,*::before,*::after{
  box-sizing: inherit;
}

body{
  font-family: 'Lato' sans-serif;
}

header{
  background-color: #fff;
}

.header-image{

}

.banner{
  position: relative;
  text-align: left;
  font-size: 0.5rem;
  max-height: 75vh;
  overflow: hidden;
  clear:both;
}
.banner img{
  width: 100%;
  display: block;
}
.bannercontent{
  position: relative;
  bottom: 3.5em;
  left:-0.89em;
  color: #0089a1;
  width: 100%;
  font-size: 1.5em;
  padding-left: 10px;
}
.bannercontent img{
  width: 23%;
  margin: -1em 1em -5em 2em;
  text-align: center;
  border: none;
}
footer{
  background-color: #66c1a6;
}

.socialmedia{
  width: 50%;
  margin: -0.26em;
}
