html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Lato' sans-serif;
  font-family: 'Laro' serif;
}

*,*::before,*::after{
  box-sizing: inherit;
}

body{
  font-family: sans-serif;
}

header{
  background-color: #fff;
}

.header-image{
  background-image: url(http://placehold.it/550x650);
  background-repeat: no-repeat;
}

.bannercontent{
  position: relative;
  bottom: 2.5em;
  left:-0.15em;
  color: #0089a1;
  width: 100%;
  font-size: 1.5em;
  padding-left: 10px;
}
.bannercontent img{
  width: 23%;
  margin: -1em 1em -5em 2em;
  text-align: center;
  border: none;
}
footer{
  background-color: grey;
}

.socialmedia{
  width: 50%;
  margin: -0.26em;
}
