html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Lato' sans-serif;
  font-family: 'Laro' serif;
}

*,*::before,*::after{
  box-sizing: inherit;
}

body{
  font-family: 'Lora' serif;
  background-color: #66c1a6;
}

header{
  background-color: #fff;
  color:#fff;
}

.section-dark{
  background-color:#218f79;
}

nav ul{
	padding: 0;
	margin: 0;
  font-family: 'Lato' sans-serif;
}
.nav a{
  display:block;
}
.nav{
  padding: 0;
  margin:0;

}


nav li:hover{
		background-color: #218f79;

}

 nav li a{
		padding: .5em;
		display: block;
		text-decoration: none;
		color:#66c1a6;
    font-size: 1.5em;
}

.masthead{
  text-align: center;
}

 nav li a:hover{
	color: #e8e883;
}
.banner{
 position: relative;
 text-align: center;
 font-size: 1.5rem;
 max-height: 75vh;
 overflow: hidden;
 clear:both;


}
.banner-img{
  padding-top:75%;
  padding-bottom:30%;
  background: url("../images/student.jpg") no-repeat center center;
  background-size: cover;
}
.banner-simple{
  padding-top:75%;
  background: url("../images/student.jpg") no-repeat center center;
  background-size: cover;
}
.footer{
  background-color: #218f79;
  color:#fff;
  font-family: 'lato' sans-serif;
  text-align: center;
}

.social-media {
  width: 25%;
  max-width: 20rem;
}

h1{
  color:#218f79;
  font-family: 'lato' sans-serif;
}


p{
  color:#fff;
  font-size: 1.5em;
}

.intro{
  text-align: center;
  max-width: 25em;

}
.buckets{
	width: 100%;
	background-color: #218f79;
  color:#e8e883;
	text-align: center;
  padding: .2em;
  margin-bottom: 2em;
  border-radius: 0.25em;
  font-size: 1.5em;
  position:relative;

}

.buckets a{
	text-decoration: none;
	color: white;
}

h3{
  font-size: 1.5em;
  text-align: center;
  font-family: 'Lato' sans-serif;
}

h2{
  font-size: 1.5em;
  text-align: center;
  font-family: 'Lato' sans-serif;
  color:#218f79;
}






@media only screen and (min-width: 25em){

  .nav li{
    display: inline-block;
    font-size: 1.5em;

  }
  .intro-wrap{
    top:10rem;
    position: absolute;
  }

  .header{
    color:#218f79;
    text-shadow: 2px -4px 6px #e8e883;
  }
  .intro{
    color: #218f79;
    font-family: 'lato' sans-serif;
    text-align: center;

  }

  .banner-simple{
    background: url("../images/student.jpg") no-repeat center center;
    background-size: cover;
  }

 }
h3{
  font-size: 1.7em;
  text-align: center;
  font-family: 'Lato' sans-serif;
}

h2{
  font-size: 1.7em;
  text-align: center;
  font-family: 'Lato' sans-serif;
  color:#218f79;
}

.p{
  font-size: 1.7em;
}



@media only screen and (min-width: 38em){

  .masthead{
    text-align: left;
  }

  .footer{
    text-align: left;
  }

  .intro-wrap{
    bottom: 0;

  }

  .nav footer{
    text-align: left;
  }


  .social-media {
  float: left;
  width: 55%;
  max-width: 5rem;
}

h3{
  font-size: 1.9em;
  text-align: center;
  font-family: 'Lato' sans-serif;
}

h2{
  font-size: 1.9em;
  text-align: center;
  font-family: 'Lato' sans-serif;
  color:#218f79;
}

.p{
  font-size: 1.9em;
}

.header{
  color:#fff;
  text-shadow: 2px -4px 6px #e8e883;
}


}
